.button{
  border: none;
  outline: none;
  padding-inline: 7rem;
  padding-block: 0.75rem;
  border-radius: 1rem;
cursor: pointer;

transition: all 0.3s ease-in-out;


  &.primary-button{
  background-color: rgb(228, 10, 126);
}
&:active{
  transform: scale(0.95);
}

}
